.jobs {
    width: 100%;
    height: auto;
    margin: 25px auto;
    padding: 25px 10px;

    .jobs_text {
        h2 {
            @include text_celular;
            color: $third_color;
            text-align: center;
            margin: 10px 0;
            padding: 25px auto;
        }

        p {
            @include text_full_header_p_celular;
            color: $primary_color;
            font-size: 1rem;
            text-transform: lowercase;
            text-align: center;
            margin: 25px auto;
            padding: 35px auto;
        }
    }

    .jobs_img {
        
        img {
            margin: 10px auto;
            cursor: pointer;
          
        }
    }

    .logo_git {
        display: none;
    }
}

@media screen and (min-width: 1024px) {

    .jobs {

        width: 100%;
        height: 990px;
        position: relative;
        
      

        .jobs_img {
            width: 95%;
            height: 750px;
            overflow: hidden;
            display: flex;
            flex-wrap: wrap;
            object-fit: cover;

            img{
              @include cards_desck;
              object-fit: cover;
            }


            
        }

        .logo_git {
            width: 150px;
            height: 150px;
            display: block;
            position: absolute;
            right: 25px;
            bottom: 0;

        }

    }


    footer{

        .footer_text{
            p{
                @include text_full_header_p_tablet;
                text-transform: lowercase;
                color: $secondary_color;
                text-align: center;
                margin: 15px auto;
                padding: 10px auto;

            }
        }
    }


}