.quem_eu_sou{
    width: 96%;
    margin: 35px auto;
    
}

.quem_eu_sou_text{
    .paragrafo {
        @include text_full_header_p_celular;
        text-align: center;
        text-shadow: 1px 2px 4px $first_color;
        margin: 10px auto;
    }

    .tex{
        text-align: center;
        padding: 10px 10px;
        font-size: 1rem;
    }
}

@media screen and (min-width: 600px) {

    .quem_eu_sou{
        display: flex;
        align-items: center;
        justify-content: space-between;

        .quem_eu_sou_img{
            @include card_box;
        }

        .quem_eu_sou_text{
            @include card_box;
            .tex{
                text-align: left;
            }
        }
    }
}

@media screen and (min-width:1024px) {

    .quem_eu_sou{
        display: flex;
        align-items:flex-start;
        justify-content: space-between;
        padding: 0 10px;
        box-sizing: border-box;

        .quem_eu_sou_img{
            @include card_box_desck;
        }
        .quem_eu_sou_text{
            @include card_box_desck;

            .paragrafo{
                
                @include text_full;
                color: $third_color;

            }

            .tex{
                line-height: 1.5;
            }

        }
    }
    
}