nav {
  width: 100%;
  height: 50px;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
}
nav .header_logo img {
  width: 50px;
  height: 50px;
}

.nav_navegaco {
  display: none;
}

@media screen and (min-width: 1024px) {
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    z-index: 9;
  }

  .nav_logo_nav {
    display: none;
  }

  .nav_navegaco ul {
    display: flex;
    align-items: center;
  }
  .nav_navegaco ul li {
    list-style-type: none;
    padding: 10px;
  }
  .nav_navegaco ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #F3F7F0;
  }
  .nav_navegaco ul li a a::houver {
    color: #F6AE2D;
  }

  .nav_navegaco {
    display: block;
  }
}
header {
  width: 100%;
  height: 98vh;
  background-image: url(../imagens/background_header.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 9px;
}
header .header_text {
  position: absolute;
  top: 150px;
  left: 20px;
}
header .header_text h1 {
  font-family: "Montserrat";
  font-size: 36px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 3px;
  color: #fff;
}
header .header_text p {
  font-family: "Montserrat";
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bolder;
  letter-spacing: 3px;
  color: #F6AE2D;
}

@media screen and (min-width: 768px) {
  header .header_text {
    position: absolute;
    top: 130px;
    left: 120px;
  }
  header .header_text h1 {
    font-family: "Montserrat";
    font-size: 46px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 3px;
    color: #fff;
  }
  header .header_text p {
    font-family: "Montserrat";
    font-size: 28px;
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: 3px;
    color: #F6AE2D;
  }
}
@media screen and (min-width: 1024px) {
  header .header_text {
    position: absolute;
    top: 150px;
    left: 150px;
  }
  header .header_text h1 {
    font-family: "Montserrat";
    font-size: 45px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 3px;
    color: #fff;
  }
  header .header_text p {
    font-family: "Montserrat";
    font-size: 36px;
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: 3px;
    color: #F6AE2D;
  }
}
.quem_eu_sou {
  width: 96%;
  margin: 35px auto;
}

.quem_eu_sou_text .paragrafo {
  font-family: "Montserrat";
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bolder;
  letter-spacing: 3px;
  color: #F6AE2D;
  text-align: center;
  text-shadow: 1px 2px 4px #272838;
  margin: 10px auto;
}
.quem_eu_sou_text .tex {
  text-align: center;
  padding: 10px 10px;
  font-size: 1rem;
}

@media screen and (min-width: 600px) {
  .quem_eu_sou {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .quem_eu_sou .quem_eu_sou_img {
    width: 350px;
    height: auto;
  }
  .quem_eu_sou .quem_eu_sou_text {
    width: 350px;
    height: auto;
  }
  .quem_eu_sou .quem_eu_sou_text .tex {
    text-align: left;
  }
}
@media screen and (min-width: 1024px) {
  .quem_eu_sou {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0 10px;
    box-sizing: border-box;
  }
  .quem_eu_sou .quem_eu_sou_img {
    width: 600px;
    height: auto;
    box-sizing: border-box;
  }
  .quem_eu_sou .quem_eu_sou_text {
    width: 600px;
    height: auto;
    box-sizing: border-box;
  }
  .quem_eu_sou .quem_eu_sou_text .paragrafo {
    font-family: "Montserrat";
    font-size: 45px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 3px;
    color: #fff;
    color: #F6AE2D;
  }
  .quem_eu_sou .quem_eu_sou_text .tex {
    line-height: 1.5;
  }
}
.tecnologia {
  margin: 25px auto;
}
.tecnologia .tec_text {
  font-family: "Montserrat";
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bolder;
  letter-spacing: 3px;
  color: #F6AE2D;
  text-align: center;
  margin: 15px auto;
  padding: 15px auto;
}
.tecnologia .tec_text .tec_logos_tec {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.tecnologia .tec_logos_tec {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.tecnologia .tec_logos_tec img {
  width: 50px;
  height: 50px;
}

@media screen and (min-width: 768px) {
  .tecnologia {
    padding: 25px auto;
    margin: 25px auto;
  }
}
@media screen and (min-width: 1024px) {
  .tecnologia {
    height: 300px;
  }
  .tecnologia .tec_text {
    font-family: "Montserrat";
    font-size: 45px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 3px;
    color: #fff;
    color: #F6AE2D;
    margin: 25px auto;
    padding: 25px auto;
  }
  .tecnologia .tec_logos_tec img {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 25px;
    padding: 25px auto;
    filter: grayscale(100);
    cursor: pointer;
    transition: all 0.5s;
  }
  .tecnologia .tec_logos_tec img:hover {
    filter: grayscale(0);
  }
}
.jobs {
  width: 100%;
  height: auto;
  margin: 25px auto;
  padding: 25px 10px;
}
.jobs .jobs_text h2 {
  font-family: "Montserrat";
  font-size: 36px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 3px;
  color: #fff;
  color: #F6AE2D;
  text-align: center;
  margin: 10px 0;
  padding: 25px auto;
}
.jobs .jobs_text p {
  font-family: "Montserrat";
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bolder;
  letter-spacing: 3px;
  color: #F6AE2D;
  color: #000;
  font-size: 1rem;
  text-transform: lowercase;
  text-align: center;
  margin: 25px auto;
  padding: 35px auto;
}
.jobs .jobs_img img {
  margin: 10px auto;
  cursor: pointer;
}
.jobs .logo_git {
  display: none;
}

@media screen and (min-width: 1024px) {
  .jobs {
    width: 100%;
    height: 990px;
    position: relative;
  }
  .jobs .jobs_img {
    width: 95%;
    height: 750px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .jobs .jobs_img img {
    width: 600px;
    height: 320px;
    -o-object-fit: cover;
       object-fit: cover;
    object-fit: cover;
  }
  .jobs .logo_git {
    width: 150px;
    height: 150px;
    display: block;
    position: absolute;
    right: 25px;
    bottom: 0;
  }

  footer .footer_text p {
    font-family: "Montserrat";
    font-size: 28px;
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: 3px;
    color: #F6AE2D;
    text-transform: lowercase;
    color: #fff;
    text-align: center;
    margin: 15px auto;
    padding: 10px auto;
  }
}
footer {
  background-color: #000;
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .footer_text {
  margin: 35px auto;
  padding: 25px auto;
}
footer .footer_text h2 {
  font-family: "Montserrat";
  font-size: 28px;
  text-transform: uppercase;
  font-weight: bolder;
  letter-spacing: 3px;
  color: #F6AE2D;
  text-align: center;
}
footer .footer_forms_cont .footer_cont {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .footer_forms_cont .footer_cont .footer_forms_email {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .footer_forms_cont .footer_cont .footer_forms_tel {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .footer_forms_cont p {
  color: #fff;
}
footer .footer_forms_cont img {
  width: 50px;
  height: 50px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", "Roboto", sem serifa;
  background-color: #fff;
  width: 100%;
}

main, div img {
  width: 99%;
  margin: auto;
}/*# sourceMappingURL=global.css.map */