:root {
  /* color palet */
  --primary_color: #000;
  --secondary_color: #fff;
  --first_color: #272838;
  --second_color: #F3F7F0;
  --third_color: #F6AE2D;
  --fourth_color: #62929E;
  /* color palet */
  /* font caracteres */
  --font_size_full: 4rem;
  --font_size_smal: 1rem;
  /* font caracteres */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', 'Roboto', sem serifa;
  background-color: var(--secudary_color);
  scroll-behavior: smooth;
  position: absolute;
}


/* medi screem 468px */
/* navegation declaraçõa */
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  background-color: var(--primary_color);
  position: fixed;
  padding: 0 10px;
  z-index: 1;
}
.header_logo{
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.header_logo img{
  object-fit: cover;
  width: 50px;
  height: 50px;
}
.nav_logo_nav{
  cursor: pointer;
}
.nav_navegaco{
  width: 100%;
  height: 100vh;
  background-color: var(--secudary_color);
  position: fixed;
  top: 0;
  left: 0;
  display: none;
}
.nav_navegaco ul{
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: space-between;
  transform: translatey(35vh);
}
.nav_navegaco ul li{
  padding: 10px 0;
  list-style-type: none;
}
.nav_navegaco ul li a{
  text-decoration: none;
  font-size: 20px;
  color: var(--primari_color);
  text-transform: uppercase;
}
.nav_navegaco ul li a:hover{
  color: var(--therth_color);
}
/* navegation declaraçõa */
header{
  width: 100%;
  height: 95vh;
  background-image: url(../imagens/background_header.png);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.header_text{
  position:relative;
  top: 190px;
  left: 60px;
}
.header_text h1{
  color: var(--secondary_color);
  text-shadow: 2px 4px 8px var(--first_color);
  font-size: 2.5rem;
}
.header_text p{
  color: var(--third_color);
  font-size: 1.8rem;
}

/* declaração do main */
main{
  width: 98%;
  margin: auto;
}
.quem_eu_sou{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 35px 0;
}
.quem_eu_sou_img{
  cursor: pointer;
  filter: grayscale(100);
  transition: all 3s;
}
.quem_eu_sou_img:hover{
  filter: grayscale(0);
}
.quem_eu_sou_text{
  padding: 20px 10px;
}
.quem_eu_sou_text h2{
  color: var(--first_color);
  font-size: 2.8rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 10px 0;
  text-align: center;
}
.quem_eu_sou_text p{
  color: var(--primary_color);
  letter-spacing: 2.8px;
  line-height: 1.5;
  text-align: center;
}
.tecnologia h2{
  color: var(--first_color);
  font-size: 2.8rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 10px 0;
  text-align: center;
}
.tec_logos_tec{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 25px 0;
}
.tec_logos_tec img{
  width: 80px;
  width: 80px;
  padding: 0 10px;
}
.jobs{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 35px 0;
  padding: 20px 0;
}
.jobs h2{
  color: var(--first_color);
  font-size: 2.8rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 10px 0;
  text-align: center;
}
.jobs p{
  color: var(--primary_color);
  letter-spacing: 2.8px;
  line-height: 1.5;
  text-align: center;
}
.jobs_img{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
  padding: 15px 0;
}
.jobs_img img{
  margin: 10px 0;
  padding: 15px 0;
}

footer{
  width: 100%;
  height: 350px;
  background-color: var(--primary_color);
  color: var(--secondary_color);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 0px;
}
.footer_text h2{
  color: var(--first_color);
  font-size: 2.8rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 10px 0;
  text-align: center;
}
.footer_text p{
  color: var(--secondary_color);
  letter-spacing: 2.8px;
  line-height: 1.5;
  text-align: center;
}
.footer_forms_cont{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
  padding: 25px 0;
}
.footer_forms_email{
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer_forms_tel{
  display: flex;
  align-items: center;
  justify-content: center;
}